.section {
  width: 100%;
  padding: 100px 0;
  background-color: #1b1717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.pagesWrapper {
  position: relative;
  width: 100%;
}

.pages {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  gap: 0 60px;
}

.page {
  padding: 0px 0px;
  width: 300px;
}